<footer>
    <div class="footer-content">
      <p>&copy; 2023 FarmScape. All rights reserved.</p>
      <p><a href="https://www.linkedin.com/in/diwateyash2004/" target="_blank">Contact Developer</a></p>
    </div>
  </footer>